.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
}

.header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.headercontent h3{
    font-size: 22px;
    color: #24252C;
}
.headercontent p{
    font-size: 14px;
    color: #9A9A9A;

}

.icon {
    width: 50px;
    height:50px;
    background: #eae9ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.planBox {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
    overflow: hidden;
    min-height: 55px;
}

.selected {
    border: 1px solid #7a4eff;
}

.radioLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.radioLabel input {}

.part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.planContent {
    padding: 10px;
    flex-grow: 1;
}

.planTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}
.planTitle p{
    font-size: 18px;
    color: #24252C;
    font-weight: 600;
}
.planTitle span{
    font-size: 16px;
    color: #A3AED0;
    font-weight: 300;
}

.badge {
    font-size: 12px !important;
    background: #e3dbff;
    color: #6524EB !important;
    padding: 2px 6px;
    border-radius: 6px;
    white-space: nowrap;
    position: relative;
    top: -10px;
}

.description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 4px;
    display: block;
}

.arrowIcon {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

/* Accordion animation */
.accordion {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    background: #f9f9f9;
    padding: 0 1rem;
    border-radius: 0 0 12px 12px;
}

.open {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 1rem;
}

.btnTheme {
    position: relative;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    margin-top: 3rem;
}
.btnTheme img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btnTheme p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 500;
    font-size: 19px;

}

.loginBox {
    text-align: right;
    margin-bottom: 4rem;
    padding: 0 1rem;
    margin-top: 2rem;
}

.loginLink {
    color: #7b4fdd;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}

.loginLink:hover {
    color: #5a38b1;
    text-decoration: underline;
}
.loginBox p{
    text-align: center;
    font-size: 18px;
}
.hero_sec{
    margin-top: 5rem;
}
.status{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status2{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}