.card {
  background-color: #f8f9fb;
  padding: 20px;
  border-radius: 12px;
  height: 100vh;
}

.profilePic {
  display: flex;
  justify-content: center;
  position: relative;
}

.profilePic img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  background: white;
}

.editIcon {
  position: absolute;
  bottom: 5px;
  right: calc(50% - 55px);
  background: white;
  border-radius: 10px;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.editIcon img {
  width: 100%;
  height: 100%;
  border-radius: unset;
}

.infoSection {
  padding: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.editText {
  font-size: 22px;
  color: #7a4ef2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.PurpolIcon {
  margin-right: 5px;
}

.Part {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block: 16px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 14px;
}

.Part img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.infoItem {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.infoItem label {
  font-size: 15px;
  color: #a0aace;
  margin-bottom: 6px;
}

.infoItem input,
.infoItem textarea {
  font-size: 16px;
  font-weight: 500;
  color: #24252C;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #f7f9fc;
  transition: border 0.3s ease;
}

.infoItem input:focus,
.infoItem textarea:focus {
  border-color: #7a4ef2;
  background-color: #fff;
}

.infoItem textarea {
  resize: none;
  min-height: 60px;
}

.btnTheme {
  position: relative;
  color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  margin-top: 3rem;
  width: 90%;
  margin: 1.5rem auto;
  cursor: pointer;
  overflow: hidden;
}

.btnTheme img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.btnTheme p {
  position: relative;
  z-index: 1;
  margin: 0;
  font-weight: 500;
  font-size: 19px;
  display: flex;align-items: center;
}
.error {
  color: red;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.imageIcon{border: 1px solid rgb(128, 126, 126);border-radius: 50%;cursor: pointer;}
