.container {
  margin: auto;
  background: #fff;
   }

.title {
     font-size: 50px;
    font-weight: 300;
    color: #0F1417;
    margin: 10px 0 20px 0;
}

.callVolume {
  font-size: 20px;
  font-weight: bold;
}

.callVolume span {
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}

.trend {
  font-size: 14px;
  color: #333;
  margin: 5px 0 15px;
}

.positive {
  color: green;
  font-weight: bold;
  margin-left: 5px;
}
.CallFlex{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.daySection {
  margin: 20px 0;
  background-color: #F4F4F4;
    padding: 20px 20px 0 20px;
    position: relative;
    border-radius: 15px;
}


.daySection ::before {
  content: '';
    position: absolute;
    top: 0;
    clip-path: polygon(0 1%, 100% 0, 81% 58%, 20% 60%);
}

.dayLabel {
  font-size: 25px;
  font-weight: 400;
  color: #000;
}

.date {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}

.calendar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    bottom: -10px;

}

.dateBox {
  padding: 5px 10px;
  border-radius: 10px;
  /* background-color: #f0f0f0; */
  font-size: 14px;

}

.selectedDate {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  
}

.dateName{
    margin: 10px 0 0 0 !important;
    padding: 5px;;

}


.selectedDate .dateName{
      color: #6524EB;
      text-decoration: underline;
    text-underline-offset: 16px;
    background-color: #f3eeff;

}

.callFlex{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0;
}

.callVolume{
    font-size: 25px;
    font-weight: 600;
    color: #0F1417 ;
}

.callVolume span{
    font-size: 16px;
    font-weight: 400;
    color: #0F1417 ;
}

