/* Backdrop */
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);  /* Darker background for better focus */
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 0.3s ease;
}

/* Modal Container */
.modalContainer {
  margin-top: 3rem;
  position: relative;
  width: 90%;
  max-width: 450px;
  animation: slideUp 0.3s ease-out forwards;
  transform: translateY(100px);
  opacity: 0;
  border-radius: 16px;  /* Rounded corners for a softer look */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Animation for modal */
@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide Down Animation */
.slideDown {
  animation: slideDown 0.3s ease-in forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* Modal Body */
.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Close Button */
.closeBtn {
  position: absolute;
  top: 20px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #BCBCBC;
  cursor: pointer;
  z-index: 3;
  transition: color 0.3s ease;
}

.closeBtn:hover {
  color: #FF5733;  /* Stylish hover color */
}

/* Confirmation Modal */
.confirmationModal {
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-top: 1rem;
}

/* Confirmation Buttons */
.confirmationButtons {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  margin-top: 2rem;
}

.confirmationButtons button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Yes Button */
.confirmationButtons button:first-child {
  background-color: #28a745;
  color: white;
}

.confirmationButtons button:first-child:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

/* No Button */
.confirmationButtons button:last-child {
  background-color: #dc3545;
  color: white;
}

.confirmationButtons button:last-child:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

/* Notch */
.notch {
  position: absolute;
  bottom: -20px;
  left: 60%;
  transform: translateX(-50%) rotate(45deg);
  width: 80px;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px;
}
