.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 600px;
}

.inlineError {
    color: #d93025;
    font-size: 0.875rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header h1 {
    font-size: 50px;
    font-weight: 600;
    color: #24252C;
    margin-bottom: 0px;
    line-height: 50px;
    margin: 30px 0 30px 0;

}


.formGroup {
    border: 1px solid #E0E5F2;
    display: grid;
    min-height: 80px;
    border-radius: 12px;
    padding: 10px;
    min-width: 285px;

}

.formGroup input,
.formGroup textarea {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    height: 24px;
    color: #A3AED0;
}

.formGroup label {
    font-size: 18px;
    font-weight: 600;
    color: #24252C;
    margin-bottom: 0px;
}

.form {
    display: grid;
    gap: 20px;
}

.btnTheme {
    position: relative;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    /* margin-top: 1rem; */
    border: none;
    background: none;
    width: 100%;
}

.btnTheme img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btnTheme p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 500;
    font-size: 19px;
}

.skipButton button {
    display: flex;
    float: right;
    border: none;
    background-color: white;
    color: #bebebe;
    font-size: 16px;


}