.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
}

.imagePreview img {
  width: 100%;
  border-radius: 8px;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
    