.container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

.title {
  font-size: 40px;
  font-weight: 800;
  color: #24252C;
}

.subtitle {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
  color: #24252C;
  font-weight: bold;

}

.optionList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 12px;
  background-color: #fff;
  transition: all 0.3s;
  min-height: 70px;
  padding-inline: 10px;
}

.option:hover {
  border-color: #c0a9f7;
}

.icon {
  margin-right: 1rem;
}



.option span {
  flex-grow: 1;
  font-size: 18px;
  color: #24252C;
  font-weight: 700;
}

.inputGroup {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 18px;
}

.inputGroup input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #A3AED0;
  font-size: 14px;
  outline: none;
  min-height: 55px;
}






.Btn {
  width: 100%;
}

.Btn button {
  background-color: #6524EB;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 19px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
  min-height: 55px;
  align-items: center;
}

.Btn button svg {
  position: absolute;
  right: 35px;
}