.CallTransferMain {
    padding-inline: 16px;
}
.CallTransferMain1 {
    padding: 16px;
}

.headrPart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  
}

.card {
    background: #F3EEFF;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;
}

.selectWrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.label {
    font-size: 18px;
    color: #24252C;
    font-weight: 500;
}

.select {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #24252C;
    background-color: #fff;
    border: 1px solid #E0E6F2;
    border-radius: 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    min-height: 55px;
    margin-block: 14px;
}

.arrowIcon {
    position: absolute;
    right: 16px;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.select:focus {
    border: 1px solid #6524EB;
    outline: none;
}

.phoneInput {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding-inline: 10px;
    gap: 10px;
    border: 1px solid #E0E5F2;
    margin-block: 14px;
}

.phoneNumberInput {
    min-height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.input:focus {
    border: 1px solid #6524EB;
    outline: none;
}

.countryCode {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 10px;
    border-right: 1px solid #E0E5F2;
}

.countryCode img {
    width: 20px;
    height: 14px;
    border-radius: 2px;
}

.phoneNumber {
    font-size: 14px;
    color: #24252C;

}

.Btn {
    width: 90%;
    margin: auto;
}

.btnTheme {
    position: relative;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    margin-top: 2rem;
    width: 100%;
}

.btnTheme img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btnTheme p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 500;
    font-size: 19px;

}

.removeButton{
  border: none;
  background-color: none;
}

@media screen and (min-width: 601px) {
 .CallTransferMain1{
    max-width: 500px;
    align-items: center;
    margin: auto;
}
.CallTransferMain {
     max-width: 500px;
    align-items: center;
    margin: auto;
}

}


@media (max-width:375px) {
    .headrPart h2 {
        font-size: 20px;
    }
}
.skipButton {
    margin-top: 5px;
  text-align: center;
}

.skipButton button {
  border: none;
  background-color: white;
  color: #bebebe;
  font-size: 14px;
}