.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: CommingSoon_slideIn__KM6ZA 0.3s ease-out;
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px;
  min-height: 400px;
}

.message {
  font-size: 45px;
  font-weight: 400;
  color: #333;
  font-family: "Lato", sans-serif;
}

.message2 {
  font-size: 70px;
  font-weight: 800;
  color: #333;
  margin-bottom: 3rem;
  font-family: "Lato", sans-serif;
}

.closeBtn {
  padding: 10px 20px;
  background-color: #6524EB;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
  font-size: 20px;
  width: 60%;
  min-height: 55px;
}



@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: 601px) {
  .modal{
    width: 50%;
  }
}