.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px 0px 0px 0px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  
  
}

.Logo img {
  width: 50%;
  margin-bottom: 20px;
  margin-left: 10px;
}

.title {
  font-size: 48px;
    color: #6524EB;
    margin: 0;
    font-weight: 900;
}

.subtitle {
  font-size: 32px;
  color: #6524EB;
  margin: 0px 0 5px;
  font-weight: 900;
}

.description {
  font-size: 14px;
  color: #0A0A0A;
  margin-bottom: 30px;
}

.infoBox {
  background-color: #6524EB;
  color: white;
  border-radius: 70px 70px 0px 0px;
  padding: 30px 15px 20px 15px;
  text-align: left;
  font-size: 14px;
  border-top-left-radius: 100% 35px;
  border-top-right-radius: 100% 35px;
  height: 60dvh;  
}

.row {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  width: 100%;
}

.row span {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
  width: 50%;
}

.row a {
  color: #fff;
  text-decoration: underline;
}

.dashboardBtn {
  background-color: #fff;
  color: #6524EB;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dashboardBtn:hover {
  background-color: #ffffff;
}

.ButtonTakeME{  
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}
.ThankyouMsg{
  padding: 15px;
  font-family: "Inter", sans-serif;
}
.infoBox p{
  margin: 1rem 0px;
  font-family: "Inter", sans-serif;
}

.Right50 {
  width: 50%;
  text-align: right;
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .row span {
    margin-bottom: 0;
    margin-right: 10px;
    width: 200px;
  }
}