.title {
    font-size: 24px;
    font-weight: 600;
    color: #24252c;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 2rem;
}

.MoreDetails {
    margin-top: 1rem;
}

.MoreDetails h3 {
    margin-block: 10px;
    color: #24252c;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
    margin-block: 1rem;
    width: 100%;
}

.Ptext {
    color: #4E4E50;
    font-size: 16px;
    width: 40%;
}

.rightpart {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    justify-content: end;
    /* width: 60%; */
    flex-wrap: wrap;
    gap: 10px;
}

.rightpart strong {
    text-align: end;
    display: flex;
    font-weight: 600;
    color: #24252C;
}

.capsul {
    background-color: #EDE9FC;
    padding: 4px 15px;
    border-radius: 20px;
    /* margin-bottom: 5px; */
    width: fit-content;
    font-size: 14px;
}

.About h3 {
    color: #24252C;
    font-size: 18px;
    font-weight: 600;
}

.About p {
    color: #4E4E50;
    font-size: 16px;
}