.headerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6524EB;
    padding: 16px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 2px;
    margin-inline: 1px;
}

.BothFlex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title h2 {
    color: black;
    font-size: clamp(19px, 2vw, 22px);
    font-family: "Lato", sans-serif;
}

.dropdown{
    font-size: 22px;
    color: #24252C;
    font-weight: 600;
    border: none;
    outline: unset;
    background-color: #fff;
}

@media screen and (min-width: 601px) {
 
.headerMain {
    max-width: 500px;
    align-items: center;
    margin: auto;
}

}