
.LogoDiv {
    background-color: #ffff;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.logo {
    position: relative;
    display: inline-block;
}

.logo img {
    display: block;

}

.inlogo {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 50px;
    height: auto;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    padding-bottom: 20px;
}