.LogoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LogoWrapper {
    position: sticky;
    top: 10px;
    z-index: 10;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
    display: inline-block;
    margin: 0 auto;
    width: 205px;
    height: 205px;
}

.RipplThree {
    position: absolute;
    top: 0;
    left: 0;
    width: 205px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 1;
}

.ripple {
    position: absolute;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border: 3px solid #a178f5;
    animation: rippleAnimation 1.5s ease-out infinite;
    opacity: 0;
}

.ripple:nth-child(1) {
    animation-delay: 0s;
}
.ripple:nth-child(2) {
    animation-delay: 0.4s;
}
.ripple:nth-child(3) {
    animation-delay: 0.8s;
}

.logo {
    position: relative;
    z-index: 2; /* ensures it's above ripple */
    width: 205px;
    height: 205px;
}

.heading {
    color: #24252C;
    text-align: center;
    margin-top: 1rem;
}

@keyframes rippleAnimation {
    0% {
        transform: scale(0.6);
        opacity: 0.6;
    }

    70% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}
