.LogoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogoWrapper {
    position: relative;
}



.logo {
    position: relative;
    z-index: 1;
}

.heading {

    font-size: 50px;
    color: #24252C;
    text-align: center;
}

.ripple {
    position: absolute;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    border: 3px solid #a178f5;
    animation: rippleAnimation 2s ease-out infinite;
    opacity: 0;
}

.RipplThree {
    width: 100%;
    display: flex
}


.ripple:nth-child(1) {
    animation-delay: 0s;
}

.ripple:nth-child(2) {
    animation-delay: 0.4s;
}

.ripple:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes rippleAnimation {
    0% {
        transform: scale(0.6);
        opacity: 0.6;
    }

    70% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}