 body {
   margin: 0;
   font-family: "Inter", sans-serif;
   user-select: none;
   /* overflow: auto;
  overscroll-behavior: none; */
 }

 /* html {
   -webkit-text-size-adjust: none;
   text-size-adjust: none;

 } */

 html {
   font-size: 16px !important;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

 html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   text-size-adjust: 100%;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .ForDesktop {
   display: none !important;
   align-items: center;
   margin: auto;
   justify-content: center;
   display: flex;
   height: 100dvh;
   max-width: 700px;
   width: 100%;

 }

 .slick-list {
   /* min-height: 400px !important; */
 }

 #avtarSlider .slick-list {
   min-height: unset !important;
 }

 /* .ForDesktop h1{
  
    font-size: 3rem;
 } */

 @media screen and (min-width: 601px) {

   .ForMobile {
     /* display: none; */
   }

   .App {
     margin: auto;
     align-items: center;
     justify-content: center;
     /* display: flex; */
     width: 100%;
   }

 }


 @media screen and (max-width: 600px) {
   body {
     display: block;
     user-select: none;
   }

   .ForDesktop {
     display: none;
   }




 }

 #slideradio input[type="checkbox"] {
   width: 25px;
   height: 25px;
   accent-color: #6524EB;
   right: 5px;
   top: 5px;
 }

 #servies input[type="checkbox"] {
   accent-color: #6524EB;

 }

 input[type="radio"] {
   width: 16px;
   height: 16px;
   accent-color: #6524EB;
   right: 5px;
   top: 5px;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Lato", sans-serif;
 }

 input::placeholder {
   color: #A3AED0;
 }

 textarea::placeholder {
   color: #A3AED0;

 }


 input:focus,
 textarea:focus {
   border-color: #6524EB !important;
   outline: none;
 }



 .react-calendar__tile--now {
   background: #f9f1ff !important;
 }

 .react-calendar__tile {
   color: #24252C !important;
   font-size: 16px !important;
 }

 .react-calendar__navigation button {
   color: #24252C !important;
   font-size: 20px !important;
   font-weight: 600 !important;
 }

 abbr[title] {
   text-decoration: none !important;
 }

 .Dotcontrol .slick-dots {
   position: fixed;
   bottom: 20px;
   z-index: 1001;
   width: 130px;
 }

 .Dotcontrol .slick-dots li button:before {
   font-size: unset;
   width: 8px;
   height: 8px;
   background-color: #EEE6FF;
   border-radius: 20px;
   opacity: 1;
 }


 .Dotcontrol .slick-dots li.slick-active button:before {
   /* font-size: 20px; */
   width: 23px;
   height: 8px;
   background-color: #6524EB;
   opacity: 1;


 }

 .react-tel-input .selected-flag {
   background-color: #f7f9fc !important;
 }

 .react-tel-input .flag-dropdown {

   border: 1px solid #E0E5F2 !important;
   /* border-right: unset !important; */

 }

 /* calendar css */

 .react-calendar {
   font-family: "Lato", sans-serif !important;
 }

 .react-calendar__tile--active {
   background: #ffffff !important;
   color: #24252c !important;
   border: 1px solid #E0E5F2 !important;
   border-radius: 4px !important;
 }

 .react-calendar__month-view__days__day--weekend {
   color: #6a0dad !important;
 }

 /* End calendar css */


 /* react-tel-input css */

 .react-tel-input .country-list {
   width: 95% !important;
   max-height: 95% !important;
   border-radius: 10px !important;
   padding-inline: 10px;
   padding-block: 10px 0px;
   margin-left: 0px !important;
   top: 50% !important;
   left: 50% !important;
   transform: translate(-50%, -50%) !important;
   background-color: #f3f3f3 !important;
 }

 .react-tel-input .country-list input {
   width: 90% !important;

 }

 .react-tel-input .country-list .search-emoji {
   display: none !important;
 }

 .country-list {
   position: fixed !important;
   top: 0 !important;
   left: 0 !important;
   width: 100vw !important;
   height: 100dvh !important;
   background-color: white !important;
   z-index: 9999 !important;
   overflow-y: auto !important;
   padding: 20px;
   box-shadow: none !important;
   border-radius: 0 !important;
 }


 .fullscreenCountryDropdown .flag-dropdown {
   z-index: 10000;
 }

 @media screen and (min-width: 601px) {
   .react-tel-input .country-list {
     /* width: 48% !important; */
   }
 }






 .fullscreenCountryDropdown .flag-dropdown {
   z-index: 10000;
 }

 .CallAccordion {
   box-shadow: none !important;
   margin: 5px 0 !important;
   border-bottom: 1px solid #E0E5F2;
 }

 .CallAccordion button {
   padding: 4px 0 !important;
 }

 .CallAccordion::before {
   position: unset !important;
 }

 .CallAccordion svg {
   fill: #24252C !important;
   font-size: 28px !important;
 }

 .CallAccordion.connectCalender {
   border-bottom: 0px solid #000 !important;
 }

 .AccorParaPadig {
   padding: 0;
 }




 * {

   -webkit-tap-highlight-color: rgba(194, 194, 194, 0.247);

 }

 /* OR Change it to a custom color */
 /* button, a, input, [role="button"] {
  -webkit-tap-highlight-color: rgb(0, 0, 0); 
} */