 body {
   margin: 0;
  font-family: "Inter", sans-serif;
   display: none;
 }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 @media screen and (max-width: 600px) {
   body {
     display: block;
   }
 }
 input[type="radio"] {
  width: 16px;
  height: 16px;
  accent-color: #8A2BE2;
  margin-right: 6px;
}


h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

