 body {
   margin: 0;
   font-family: "Inter", sans-serif;
   user-select: none;
   /* display: none;    */
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .ForDesktop {
   display: none !important;
   align-items: center;
   margin: auto;
   justify-content: center;
   display: flex;
   height: 100vh;
   max-width: 700px;
   width: 100%;

 }

 .slick-list {
   min-height: 400px !important;
 }

 /* .ForDesktop h1{
  
    font-size: 3rem;
 } */

 @media screen and (min-width: 601px) {

   .ForMobile {
     /* display: none; */
   }

   .App {
     margin: auto;
     align-items: center;
     justify-content: center;
     /* display: flex; */
     width: 100%;
   }

 }


 @media screen and (max-width: 600px) {
   body {
     display: block;
     user-select: none;
   }

   .ForDesktop {
     display: none;
   }




 }

 #slideradio input[type="checkbox"] {
   width: 25px;
   height: 25px;
   accent-color: #6524EB;
   right: 5px;
   top: 5px;
 }

 #servies input[type="checkbox"] {
   accent-color: #6524EB;

 }

 input[type="radio"] {
   width: 16px;
   height: 16px;
   accent-color: #6524EB;
   right: 5px;
   top: 5px;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Lato", sans-serif;
 }

 input::placeholder {
   color: #A3AED0;
 }

 textarea::placeholder {
   color: #A3AED0;

 }

 .react-calendar__tile--now {
   background: #f9f1ff !important;
 }

 .react-calendar__tile {
   color: #24252C !important;
   font-size: 16px !important;
 }

 .react-calendar__navigation button {
   color: #24252C !important;
   font-size: 20px !important;
   font-weight: 600 !important;
 }
abbr[title] {
    text-decoration: none !important;
}
 .Dotcontrol .slick-dots {
   position: fixed;
   bottom: 20px;
   z-index: 1001;
   width: 130px;
 }

 .Dotcontrol .slick-dots li button:before {
   font-size: unset;
   width: 8px;
   height: 8px;
   background-color: #EEE6FF;
   border-radius: 20px;
   opacity: 1;
 }


 .Dotcontrol .slick-dots li.slick-active button:before {
   /* font-size: 20px; */
   width: 23px;
   height: 8px;
   background-color: #6524EB;
   opacity: 1;


 }

 .react-tel-input .selected-flag {
   background-color: #f7f9fc !important;
 }

 .react-tel-input .flag-dropdown {

   border: 1px solid #E0E5F2 !important;
   /* border-right: unset !important; */

 }

 /* calendar css */

 .react-calendar {
   font-family: "Lato", sans-serif !important;
 }

 .react-calendar__tile--active {
   background: #ffffff !important;
   color: #24252c !important;
   border: 1px solid #E0E5F2 !important;
   border-radius: 4px !important;
 }

 .react-calendar__month-view__days__day--weekend {
   color: #6a0dad !important;
 }

 /* End calendar css */