
.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: #000000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}