.mask img {
    width: 100%;
    position: relative;
}

.logo {
    width: 250px;
    animation: zoomIn 1.5s ease-out;
}

.logimg2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.Maincontent {
    padding: 20px;
}

.welcomeTitle h1 {
    color: #24252C;
    font-size: 40px;
    margin-block: 0px;
    font-weight: 800;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 20px;
}

.heading {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 8px;
    color: #1d1d1f;
}

.label {
    font-weight: 600;
    color: #24252C;
    margin-bottom: 4px;
    font-size: 18px;
}

.input {
    padding: 12px 16px;
    font-size: 1rem;
    border: 1px solid #E0E5F2;
    border-radius: 10px;
    background-color: #fff;
    outline: none;
    transition: border 0.2s ease;
    min-height: 55px;
}

.input::placeholder {
    color: E0E5F2;
}

.input:focus {
    border-color: #805ad5;
}

.codeText {
    font-size: 14px;
    color: #6524EB;
    margin-bottom: 0px;
    text-align: center;
}

.otpContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-block: 20px;
}

.otpInput {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.btnTheme {
    position: relative;
    color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    margin-top: 3rem;
    width: 90%;
    margin: 1.5rem auto;
}

.btnTheme img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btnTheme p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 500;
    font-size: 19px;

}

/* ===== Enter Animation ===== */
/* @keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* .pageWrapper {
    animation: fadeIn 0.8s ease forwards;
} */

/* @keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* .animate1 {
    animation: slideUpFadeIn 0.6s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.animate2 {
    animation: slideUpFadeIn 0.6s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.animate3 {
    animation: slideUpFadeIn 0.6s ease forwards;
    animation-delay: 0.8s;
    opacity: 0;
} */

/* ===== Step-by-step Fade Out (Bottom to Top) ===== */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

/* .fadeOut1 {
    animation: fadeOut 0.5s ease forwards;
    animation-delay: 0s;
}

.fadeOut2 {
    animation: fadeOut 0.5s ease forwards;
    animation-delay: 0.3s;
}

.fadeOut3 {
    animation: fadeOut 0.5s ease forwards;
    animation-delay: 0.6s;
}

.fadeOut4 {
    animation: fadeOut 0.5s ease forwards;
    animation-delay: 0.9s;
} */

.labReq {
    position: relative;

}

.Dblock {
    display: grid;
}

.inputError {
    border-color: #d93025 !important;
    outline: none;
}

.inlineError {
    color: #d93025;
    font-size: 0.875rem;
    position: absolute;
}






@keyframes slideLeftFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateStep {
  opacity: 0;
  animation-fill-mode: forwards;
}

.animateStep1 {
  animation: slideLeftFadeIn 0.4s ease-out 0.15s forwards;
}

.animateStep2 {
  animation: slideLeftFadeIn 0.4s ease-out 0.3s forwards;
}

.animateStep3 {
  animation: slideLeftFadeIn 0.4s ease-out 0.45s forwards;
}








@media (max-width:375px) {
    .welcomeTitle h1 {
        font-size: 30px;
    }
}