.forSticky {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 2px 1px;
    background: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(90deg, #6524eb 100%, #eae7ff 50%);
    color: white;
    padding: 20px 20px 30px 20px;
    border-radius: 2rem 2rem 0px 0px;
    flex-wrap: wrap;
}

.profileBack {
    display: flex;
    align-items: anchor-center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.profileBack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.headerTitle {
    font-weight: 600;
    color: #fff;
    font-size: 1.375rem;
}

.notifiMain {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notificationIcon1 {
    background-color: #fff;
    height: 50px;
    width: 75px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationIcon {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section CSS Start */
.agentCard {
    background-image: linear-gradient(90deg, #e9e6ff 35%, #e1f6ff 68%);
    padding: 1rem;
    border-radius: 25px;
    gap: 1rem;
    margin: -30px 0 0 0;
    position: relative;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.details p {
    color: #24252C;
    font-size: 14px;

}

.detail2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.userName h2 {
    color: #24252C;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
}

.green {
    background-color: #1AA850;
    border-radius: 4px;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
}
.red {
      background-color: red;
    border-radius: 4px;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
}
.yellow {
    background-color: #FFB800;
    border-radius: 4px;
    color: #fff;
    padding: 2px 12px;
    font-size: 14px;
}

.hrline {
    margin: 10px 0;
    height: 1px;
    background-color: #fff;
    border: none;
    margin-block: 1rem;
}


.details3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Part1 p,
.Part2 p,
.Part3 p {
    font-size: 16px;
    color: #24252C;
}

.Part1 strong,
.Part2 strong,
.Part3 strong {
    font-size: 16px;
    color: #24252C;
    text-transform: uppercase;

}

.Part3 {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
}

.DataMain {
    padding: 16px;
}

.dataTitle {
    margin-block: 5px;
}

.dataTitle h2 {
    font-size: 18px;
    font-weight: 600;
    color: #24252C;
}

.dataCard {
    background-color: #F8F8F8;
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 10px;
}

.PhoneNumber,
.EmailAddress,
.Address,
.Reason {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.Ptext {
    color: #4E4E50;
    font-size: 16px;
    margin-bottom: 10px;
}

.Address b {
    display: flex;
    word-break: break-all;
    text-align: end;
}

.EmailAddress b {
    display: flex;
    word-break: break-all;
    text-align: end;
}

.PhoneNumber b {
    display: flex;
    word-break: break-all;
    text-align: end;
}

.Reason b {
    display: flex;
    word-break: break-all;
    text-align: end;
}

.PhoneDiv {
    background-color: #EBE2FF;
    color: #6524eb;
    padding: 4px 8px;
    border-radius: 4px;
}
.readMoreButton {
  background-color: #6524eb;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.readMoreButton:hover {
  background-color: #531be0;
}
.audioTime {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 13px;
  color: #4E4E50;
}